<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navigation</key>
	<array>
		<dict>
			<key>title</key>
			<string>Home</string>
			<key>icon</key>
			<dict>
				<key>normal</key>
				<string>icon.png</string>
				<key>highlighted</key>
				<string>icon-highlighted.png</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Home</string>
			<key>icon</key>
			<dict>
				<key>normal</key>
				<string>icon.png</string>
				<key>highlighted</key>
				<string>icon-highlighted.png</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Home</string>
			<key>icon</key>
			<dict>
				<key>normal</key>
				<string>icon.png</string>
				<key>highlighted</key>
				<string>icon-highlighted.png</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Home</string>
			<key>icon</key>
			<dict>
				<key>normal</key>
				<string>icon.png</string>
				<key>highlighted</key>
				<string>icon-highlighted.png</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Home</string>
			<key>icon</key>
			<dict>
				<key>normal</key>
				<string>icon.png</string>
				<key>highlighted</key>
				<string>icon-highlighted.png</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Home</string>
			<key>icon</key>
			<dict>
				<key>normal</key>
				<string>icon.png</string>
				<key>highlighted</key>
				<string>icon-highlighted.png</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Home</string>
			<key>icon</key>
			<dict>
				<key>normal</key>
				<string>icon.png</string>
				<key>highlighted</key>
				<string>icon-highlighted.png</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Home</string>
			<key>icon</key>
			<dict>
				<key>normal</key>
				<string>icon.png</string>
				<key>highlighted</key>
				<string>icon-highlighted.png</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
